cache_dir = "~/boj/cache"
code_dir = "~/boj/code"
template = "~/.boj/template.cpp"
open_in_browser = false
pager = "less"
tab_width = 4
text_with = 70
auto_generate = true
code_open = "open" # open, close, onlyaccepted

# headless_login = false
# browser = "/usr/bin/google-chrome
# locale = "en-US"
# browser_args = [ "--no-first-run" ]
# state_path = "~/.boj/state.json"
# browser_dir = "~/.boj/browser-cache"

[[lang]]
compile = ["g++", "-std=c++11", "-O2", "-o", "%PROB_NUM%", "%SOURCE%"]
cmd = ["%PROB_NUM%"]
ext = "cpp"
lang_id = "C++17"

[[lang]]
compile = []
cmd = ["python3", "%SOURCE%"]
ext = "py"
lang_id = "Python 3"
