cache_dir = "~/boj/cache"
code_dir = "~/boj/code"
template = "~/.boj/template.cpp"
open_in_browser = true
browser = "google-chrome"
pager = "less"
bojautologin = ""
solved_token = ""

[[lang]]
cmd = "gcc -O2"
ext = "cpp"

[[lang]]
cmd = "python3"
ext = "py"
