cache_dir = "~/boj/cache"
code_dir = "~/boj/code"
template = "~/.boj/template.cpp"
open_in_browser = true
browser = "google-chrome"
pager = "less"
lang_id = 84
tab_width = 4
text_with = 70
auto_generate = true
# open, close, onlyaccepted
code_open = "open"
bojautologin = ""
solved_token = ""

[[lang]]
cmd = "gcc -O2"
ext = "cpp"

[[lang]]
cmd = "python3"
ext = "py"
